global
  log 127.0.0.1 local0 notice
  maxconn 2000
  user haproxy
  group haproxy
  
defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  retries 3
  option  redispatch
  timeout connect 5000
  timeout client 10000
  timeout server 10000

backend roundrobin
  balance roundrobin
  mode http
  option  httpclose
  option  forwardfor
 {% for host in groups["tag_Name_datadog_summit_group"+group+"_web"] %}
  server {{hostvars[host]['ansible_nodename']}} {{hostvars[host]['ansible_eth0']['ipv4']['address']}}:80 check
  {% endfor %}

backend leastconn
  balance leastconn
  mode http
  option  httpclose
  option  forwardfor
  {% for host in groups["tag_Name_datadog_summit_group"+group+"_web"] %}
  server {{hostvars[host]['ansible_nodename']}} {{hostvars[host]['ansible_eth0']['ipv4']['address']}}:80 check
  {% endfor %}

frontend summitdemo
  bind *:80
  mode http
  log global
  acl rr path_beg /rr
  use_backend roundrobin if rr
  acl lc path_beg /lc
  use_backend leastconn if lc 
  http-request redirect code 301 location http://%[hdr(host)]%[url,regsub(^/rr,/,)] if { path_beg /rr }
  http-request redirect code 301 location http://%[hdr(host)]%[url,regsub(^/lc,/,)] if { path_beg /lc }
  default_backend roundrobin
  stats   enable
  stats  uri /haproxy?stats
  stats   realm Strictly\ Private




